
.principal {
    align-items: center;
}


.lista_principal {
    left: 0;
    font-size: 1.2rem;
}

.icones {
    display: inline-block;
}

.guerreiro {
    align-items: flex-end;
    height: 180px;
    border-radius: 10px;
    
}