
.principal {
    align-items: center;
}


.lista_principal {
    left: 0;
    font-size: 1.2rem;
}

.icones {
    display: inline-block;
}

.imagem-guerreiro {
    display: flex;
    justify-items:flex-end
}

.guerreiro {
    border-radius: 10px;

}