
#principal {
    align-items: center;
}


#lista_principal {
    left: 0;
    font-size: 1.2rem;
}

#mail {
    color: greenyellow;
}

#icones {
    display: inline-block;
}

#guerreiro {
    vertical-align: top;
}